.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  padding: 5%;
  &_number {
    color: $color-brown;
    font-size: 4rem;
    padding: 10px;
    margin-top: 3%;
  }
  &_header {
    margin-top: 5%;
    color: #3C3C3C;
    font-size: 1rem
  }
  &_description {
    margin-top: 5%;
    text-align: center;
    font-size:0.8rem;
    line-height: 1.5rem;

  }
}