.button {
  width: 9rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-base;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
  color: $color-grey;
  border: 1px solid $color-grey;
  margin-left: 44px;
}
