.section_heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8%;
  //margin-top: 8%;
  position: relative;
}
.heading {
  font-size: 1.5rem;
  text-align: center;
  color: $color-darkgrey;
  white-space: pre-line;

  }
.decoration {
    background-image:url("../../assets/Decoration.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
    transform: scale(.5);
    margin-top: 5%;
  }

