
.menu {

  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  margin-top: 3%;
  margin-bottom: 1.6%;
  width: 100%;


  &_up {

    padding: 10px;
    font-size: 0.6rem;
    color: $color-grey;
    height: 30%;

    &:hover {
      border: 1px solid orange;
    }

  }
  &_down {
    font-size: 0.8rem;
    color: $color-darkgrey;
    height: 15%;
    padding: 10px;
    white-space: nowrap;
    margin-bottom: 50%;
    &:hover {
      border: 1px solid $color-darkgrey;
    }
  }
}