
.menu {
  display: flex;
  justify-content: flex-end;


  &_up {
    padding: 10px;
    font-size: 0.6rem;
    color: $color-grey;
    height: 30%;
    margin-bottom: 2%;

    &:hover {
      border: 1px solid orange;
    }
  }
  &_down {
    font-size: 0.8rem;
    color: $color-darkgrey;
    height: 15%;
    padding: 8px;
    white-space: nowrap;
    margin-left: 15px;
    &:hover {
      border: 1px solid $color-darkgrey;
    }
  }
}