.section {
  display: flex;
  flex-direction: column;

  &_one {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_two {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
  }



  &_row {
    display: flex;
    flex-direction: row;


  }

  &_column {
    display: flex;
    flex-direction: column;

  }
 &_about {
   height:100%;
   width: 100%;
   &_text {
     width: 50%;
   }
 }
}