.yellow_background {
  background-image: url("../../assets/3ColumnsBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header_background {
  width: 50%;
  background-image: url("../../assets/HeroImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:90%;
}
.contact_background {
  width: 100%;
  height:40rem;
  background-image: url("../../assets/Background Image@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:10%;
  opacity: 35%;
}