.yellow_background {
  background-image: url("../../assets/3ColumnsBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header_background {
  width: 50%;
  background-image: url("../../assets/HeroImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:90%;
}
.contact_backround {
  width: 50%;
  background-image: url("../../assets/BackgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:90%;
}