@import "fonts";
@import "colors";
body {
  font-family:$font-base;
  color:$color-darkgrey;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}
.text {
  &_center {
    //text-align: center;
  }
  &_capital {
    text-transform: capitalize;

  }
}

.container {
  width: 100vw;
  height: 100vh;
}
.center {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
  display: flex;
  justify-content: left;
  align-items: start;
}
.right {


}
.space_between{
  display: flex;
  justify-content: space-between;

}

.margin_left {
  margin-left: 10px;
}

